<meta charset="utf-8">    
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
-->
<!--
<link type="text/css" href="{{ base_url('assets/comp/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url_theme }}css/theme.css" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/pace/flash.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/offline/offline-theme-chrome.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/overlayScrollbars/css/OverlayScrollbars.min.css') }}" rel="stylesheet">
{{ comp_css|raw }}
<link rel="shortcut icon" type="image/x-icon" href="{{ favicon_url }}">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
-->

<link type="text/css" href="{{ base_url('assets/comp/bootstrap4/css/bootstrap.min.css') }}" rel="stylesheet">
<!--<link type="text/css" href="{{ base_url('assets/comp/bootstrap4/css/bootstrap-responsive.min.css') }}" rel="stylesheet">-->
<link type="text/css" href="{{ base_url_theme }}css/theme.css" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/pace/flash.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/offline/offline-theme-chrome.css') }}" rel="stylesheet">
<link type="text/css" href="{{ base_url('assets/comp/overlayScrollbars/css/OverlayScrollbars.min.css') }}" rel="stylesheet">
{{ comp_css|raw }}
<link rel="shortcut icon" type="image/x-icon" href="{{ favicon_url }}">
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
