{% extends "layout-public.html" %}

{% block title %}
Lupa password - {{ parent() }}
{% endblock %}

{% block content %}

<div class="login-box">
  <div class="login-logo">
    <img src="{{ get_logo_config() }}" class="img-lg"/>
    <a href="./"><b>Sekolah</b>Online</a>
    <a href="./"><i>AnugerahAbadi</i></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">{{ form_error('email')|raw }}</p>
      {{ get_flashdata('lupa_password')|raw }}
      {{ form_open('login/lupa_password', {'class' : 'form-vertical'})|raw }}
        <div class="input-group mb-3">
        <input class="form-control" name="email" type="text" placeholder="Masukkan username (Email)" value="{{ set_value('email') }}" autofocus>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Request Password Baru</button>
          </div>
          <!-- /.col -->
        </div>
      {{ form_close|raw }}

      <p class="mt-3 mb-1">
        <a href="../">Login</a>
      </p>
      <p class="mb-0">
        <a href="./register" class="text-center">Daftar</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!--
<div class="row">
    <div class="module span4 offset4">
        {{ form_open('login/lupa_password', {'class' : 'form-vertical'})|raw }}
            <div class="module-head">
                <h3>Lupa password</h3>
            </div>
            <div class="module-body">
               {{ get_flashdata('lupa_password')|raw }}
                <div class="control-group">
                    <div class="controls row-fluid">
                        <input class="span12" name="email" type="text" placeholder="Masukkan username (Email)" value="{{ set_value('email') }}" autofocus>
                        {{ form_error('email')|raw }}
                    </div>
                </div>
            </div>
            <div class="module-foot">
                <div class="control-group">
                    <div class="controls clearfix">
                        <button type="submit" class="btn btn-large btn-primary pull-right">Kirim</button>
                    </div>
                </div>
            </div>
        {{ form_close|raw }}
    </div>
</div>
-->


{% endblock %}
