{% extends "layout-private.html" %}

{% block title %}
Manajemen Soal Tugas - {{ parent() }}
{% endblock %}

{% block content %}

<div class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1 class="m-0 text-dark">Manajemen Soal Tugas</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ site_url('tugas') }}">Tugas</a></li>
            <li class="breadcrumb-item active">Manajemen Soal Tugas</li>
        </ol>
        </div><!-- /.col -->
    </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

{{ get_flashdata('tugas')|raw }}

<!-- Main content -->
    <section class="content">
        <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" data-toggle="tooltip" data-placement="top" title="Klik untuk detail !"><b><a class="as-link" data-toggle="collapse" data-target="#detail-tugas"><i class="fas fa-info-circle" style="line-height: 0px;"></i> {{ tugas.judul|upper }}</a></b></h3>
                        </div>
                        <div class="card-body">
                            <div class="col-12">
                                <div class="btn-group flex-wrap m-2">
                                    {{ anchor('tugas/edit/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url()), '<i class="fas fa-edit"></i> Edit Tugas', {'class' : 'btn btn-default'})|raw }}
                                    {% if tugas.aktif == 0 %}
                                        {{ anchor('tugas/terbitkan/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url()), '<i class="fas fa-check"></i> Terbitkan', {'class' : 'btn btn-success btn-small'})|raw }}
                                    {% elseif tugas.aktif == 1 %}
                                        {{ anchor('tugas/tutup/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url()), '<i class="fas fa-minus"></i> Tutup', {'class' : 'btn btn-danger btn-small'})|raw }}
                                    {% endif %}
                                </div>
                                <div class="btn-group flex-wrap float-right m-2">
                                    <a href="{{ site_url('tugas/tambah_soal/' ~ tugas.id) }}" class="btn btn-primary iframe-pertanyaan" title="Tambah Pertanyaan">Tambah Pertanyaan</a>
                                    <a href="{{ site_url('tugas/copy_soal/' ~ tugas.id) }}" class="btn btn-info iframe-copy-pertanyaan" title="Copy Pertanyaan">Copy Pertanyaan</a>
                                </div>
                            </div>
                            <div class="col-12">
                                <div id="detail-tugas" class="collapse" style="margin-top: 5px;">
                                    <table class="table">
                                        <tr>
                                            <th style="border-top: none;" width="15%">Tipe</th>
                                            <td style="border-top: none;">{{ tugas.type_label }}</td>
                                        </tr>
                                        <tr>
                                            <th>Judul</th>
                                            <td>{{ tugas.judul }}</td>
                                        </tr>
                                        <tr>
                                            <th>Matapelajaran</th>
                                            <td>{{ tugas.mapel.nama }}</td>
                                        </tr>
                                        <tr>
                                            <th>Kelas</th>
                                            <td>
                                                <ul class="unstyled inline" style="margin-left: -5px;margin-bottom: 0px;">
                                                    {% for k in tugas.tugas_kelas %}
                                                    <li>{{ k.nama }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Info</th>
                                            <td>{{ tugas.info|raw }}</td>
                                        </tr>
                                        <tr>
                                            <th>Durasi</th>
                                            <td>{{ tugas.durasi }} Menit</td>
                                        </tr>
                                    </table>
                                </div>
                            </div><br/>
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="5%">No</th>
                                            <th>Pertanyaan {{ (tugas.type_id == 3) ? ' dan Pilihan' }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in pertanyaan %}
                                        <tr id="pertanyaan-{{ p.id }}">
                                            <td><b>{{ p.urutan }}.</b></td>
                                            <td>
                                                <div class="modal fade" id="modal-default">
                                                    <div class="modal-dialog modal-xl">
                                                    <div class="modal-content">
                                                        <!--
                                                        <div class="modal-header">
                                                        <h4 class="modal-title">Default Modal</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        </div>
                                                        -->
                                                        <div class="modal-body">
                                                            <div class="embed-responsive embed-responsive-16by9">
                                                                <iframe id="iframe-pertanyaan" class="embed-responsive-item" src="" allowfullscreen></iframe>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer justify-content-end">
                                                        <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fas fa-times"></i> Keluar</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                    </div>
                                                    <!-- /.modal-dialog -->
                                                </div>
                                                <!-- /.modal -->
                                                
                                                <div class="pertanyaan">
                                                    <div class="btn-group float-right m-3">
                                                        {% if tugas.type_id == 3 %}
                                                        <a href="{{ site_url('tugas/tambah_pilihan/' ~ tugas.id ~ '/' ~ p.id) }}" class="btn btn-sm btn-default iframe-pilihan" data-toggle="tooltip" title="Tambah Pilihan"><i class="fas fa-tasks"></i></a>
                                                        {% endif %}
                                                        <!-- <a href="{{ site_url('tugas/edit_soal/' ~ tugas.id ~ '/' ~ p.id) }}" class="btn btn-small btn-default iframe-pertanyaan" data-toggle="tooltip" title="Edit Pertanyaan"><i class="fas fa-edit"></i></a> -->
                                                        <span data-toggle="tooltip" title="Edit Pertanyaan"><button class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal-default" data-table="{{ site_url('tugas/edit_soal/' ~ tugas.id ~ '/' ~ p.id) }}" ><i class="fas fa-edit"></i></button></span>
                                                        <a onclick="return confirm('Anda yakin ingin menghapus?')" href="{{ site_url('tugas/hapus_soal/' ~ tugas.id ~ '/' ~ p.id ~ '/' ~ enurl_redirect(current_url())) }}" class="btn btn-sm btn-default" data-toggle="tooltip" title="Hapus Pertanyaan"><i class="fas fa-trash"></i></a>
                                                    </div>
                        
                                                    {{ p.pertanyaan|raw }}
                                                </div>
                        
                                                {% if tugas.type_id == 3 %}
                                                <div id="pilihan-{{ p.id }}">
                                                    <table class="table table-condensed table-striped">
                                                        <tbody>
                                                            {% for pil in p.pilihan %}
                                                            <tr {{ (pil.kunci == 1) ? 'class="success"' }}>
                                                                <td width="3%"><b>({{ get_abjad(pil.urutan) }})</b></td>
                                                                <td>
                                                                    <div class="btn-group pull-right" style="margin-left:10px;">
                                                                        {% if pil.kunci == 0 %}
                                                                            <a href="{{ site_url('tugas/kunci_pilihan/' ~ tugas.id ~ '/' ~ p.id ~ '/' ~ pil.id ~ '/' ~ enurl_redirect(current_url())) }}" class="btn btn-small btn-default" data-toggle="tooltip" title="Jadikan Kunci"><i class="fas fa-check"></i></a>
                                                                        {% endif %}
                                                                        <a href="{{ site_url('tugas/edit_pilihan/' ~ tugas.id ~ '/' ~ p.id ~ '/' ~ pil.id) }}" class="btn btn-small btn-default iframe-pilihan" data-toggle="tooltip" title="Edit Pilihan"><i class="fas fa-edit"></i></a>
                                                                        <a onclick="return confirm('Anda yakin ingin menghapus?')" href="{{ site_url('tugas/hapus_pilihan/' ~ tugas.id ~ '/' ~ p.id ~ '/' ~ pil.id ~ '/' ~ enurl_redirect(current_url())) }}" class="btn btn-small btn-default" data-toggle="tooltip" title="Hapus Pilihan"><i class="fas fa-trash"></i></a>
                                                                    </div>
                                                                    {{ pil.konten|raw }}
                        
                                                                    {% if pil.kunci == 1 %}
                                                                    <b class="text-success"><i class="fas fa-star"></i> Kunci Jawaban</b>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            {{ pagination|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--
<div class="module">
    <div class="module-head">
        <h3>{{ anchor('tugas', 'Tugas')|raw }} / Manajemen Soal Tugas</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('tugas')|raw }}

        <div class="bs-callout bs-callout-info">
            <div class="btn-group pull-right" style="margin-top:-5px;">
                {{ anchor('tugas/edit/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url()), '<i class="icon icon-edit"></i> Edit Tugas', {'class' : 'btn btn-default'})|raw }}
                {% if tugas.aktif == 0 %}
                    {{ anchor('tugas/terbitkan/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url()), '<i class="icon-ok"></i> Terbitkan', {'class' : 'btn btn-success btn-small'})|raw }}
                {% elseif tugas.aktif == 1 %}
                    {{ anchor('tugas/tutup/' ~ tugas.id ~ '/' ~ enurl_redirect(current_url()), '<i class="icon-minus"></i> Tutup', {'class' : 'btn btn-danger btn-small'})|raw }}
                {% endif %}
            </div>
            <b><a class="as-link" data-toggle="collapse" data-target="#detail-tugas"><i class="icon-info-sign" style="line-height: 0px;"></i> {{ tugas.judul|upper }}</a></b>

            <div id="detail-tugas" class="collapse" style="margin-top: 5px;">
                <table class="table">
                    <tr>
                        <th style="border-top: none;" width="15%">Tipe</th>
                        <td style="border-top: none;">{{ tugas.type_label }}</td>
                    </tr>
                    <tr>
                        <th>Judul</th>
                        <td>{{ tugas.judul }}</td>
                    </tr>
                    <tr>
                        <th>Matapelajaran</th>
                        <td>{{ tugas.mapel.nama }}</td>
                    </tr>
                    <tr>
                        <th>Kelas</th>
                        <td>
                            <ul class="unstyled inline" style="margin-left: -5px;margin-bottom: 0px;">
                                {% for k in tugas.tugas_kelas %}
                                <li>{{ k.nama }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Info</th>
                        <td>{{ tugas.info|raw }}</td>
                    </tr>
                    <tr>
                        <th>Durasi</th>
                        <td>{{ tugas.durasi }} Menit</td>
                    </tr>
                </table>
            </div>

        </div>
        <br>

        <div class="btn-group">
            <a href="{{ site_url('tugas/tambah_soal/' ~ tugas.id) }}" class="btn btn-primary iframe-pertanyaan" title="Tambah Pertanyaan">Tambah Pertanyaan</a>
            <a href="{{ site_url('tugas/copy_soal/' ~ tugas.id) }}" class="btn btn-primary iframe-copy-pertanyaan" title="Copy Pertanyaan">Copy Pertanyaan</a>
        </div>
        <br><br>

        <table class="table">
            <thead>
                <tr>
                    <th width="5%">No</th>
                    <th>Pertanyaan {{ (tugas.type_id == 3) ? ' dan Pilihan' }}</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pertanyaan %}
                <tr id="pertanyaan-{{ p.id }}">
                    <td><b>{{ p.urutan }}.</b></td>
                    <td>
                        <div class="pertanyaan">
                            <div class="btn-group pull-right" style="margin-left:10px;">
                                {% if tugas.type_id == 3 %}
                                <a href="{{ site_url('tugas/tambah_pilihan/' ~ tugas.id ~ '/' ~ p.id) }}" class="btn btn-small btn-default iframe-pilihan" data-toggle="tooltip" title="Tambah Pilihan"><i class="icon-tasks"></i></a>
                                {% endif %}
                                <a href="{{ site_url('tugas/edit_soal/' ~ tugas.id ~ '/' ~ p.id) }}" class="btn btn-small btn-default iframe-pertanyaan" data-toggle="tooltip" title="Edit Pertanyaan"><i class="icon-edit"></i></a>
                                <a onclick="return confirm('Anda yakin ingin menghapus?')" href="{{ site_url('tugas/hapus_soal/' ~ tugas.id ~ '/' ~ p.id ~ '/' ~ enurl_redirect(current_url())) }}" class="btn btn-small btn-default" data-toggle="tooltip" title="Hapus Pertanyaan"><i class="icon-trash"></i></a>
                            </div>

                            {{ p.pertanyaan|raw }}
                        </div>

                        {% if tugas.type_id == 3 %}
                        <div id="pilihan-{{ p.id }}">
                            <table class="table table-condensed table-striped">
                                <tbody>
                                    {% for pil in p.pilihan %}
                                    <tr {{ (pil.kunci == 1) ? 'class="success"' }}>
                                        <td width="3%"><b>({{ get_abjad(pil.urutan) }})</b></td>
                                        <td>
                                            <div class="btn-group pull-right" style="margin-left:10px;">
                                                {% if pil.kunci == 0 %}
                                                    <a href="{{ site_url('tugas/kunci_pilihan/' ~ tugas.id ~ '/' ~ p.id ~ '/' ~ pil.id ~ '/' ~ enurl_redirect(current_url())) }}" class="btn btn-small btn-default" data-toggle="tooltip" title="Jadikan Kunci"><i class="icon-ok"></i></a>
                                                {% endif %}
                                                <a href="{{ site_url('tugas/edit_pilihan/' ~ tugas.id ~ '/' ~ p.id ~ '/' ~ pil.id) }}" class="btn btn-small btn-default iframe-pilihan" data-toggle="tooltip" title="Edit Pilihan"><i class="icon-edit"></i></a>
                                                <a onclick="return confirm('Anda yakin ingin menghapus?')" href="{{ site_url('tugas/hapus_pilihan/' ~ tugas.id ~ '/' ~ p.id ~ '/' ~ pil.id ~ '/' ~ enurl_redirect(current_url())) }}" class="btn btn-small btn-default" data-toggle="tooltip" title="Hapus Pilihan"><i class="icon-trash"></i></a>
                                            </div>
                                            {{ pil.konten|raw }}

                                            {% if pil.kunci == 1 %}
                                            <b class="text-warning"><i class="icon-star"></i> Kunci Jawaban</b>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}

                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
        <br>
        {{ pagination|raw }}

    </div>
</div>
-->
{% endblock %}
