{% extends "layout-private.html" %}

{% block title %}
Jadwal Mengajar - {{ parent() }}
{% endblock %}

{% block content %}

<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Jadwal Mengajar</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ site_url() }}">Beranda</a></li>
            <li class="breadcrumb-item active">Jadwal Mengajar</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>
<div class="d-flex justify-content-center">
    <div class="col-lg-10 col-md-10 col-xs-12 p-3" id="popLihat">
        <div class="card card-default">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr bgcolor="#fbfbfb">
                                <th>HARI</th>
                                <th>MATAPELAJARAN DAN JAM</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hari_id, h in get_indo_hari() %}
                            <tr>
                                <th width="15%">{{ h }}</th>
                                <td>
                                    {{ anchor('pengajar/add_ampuan/' ~ status_id ~ '/' ~ pengajar.id ~ '/' ~ hari_id, 'Tambah', {'class' : 'pengajar-iframe btn btn-small btn-primary', 'title' : 'Tambah jadwal hari ' ~ h})|raw }}
                                    {% set retrieve_all_ma = get_row_data('pengajar_model', 'retrieve_all_ma', [hari_id, pengajar.id, null]) %}
                                    {% if retrieve_all_ma is not empty %}
                                    <table style="margin-top:10px;" class="table table-striped">
                                        {% for ma in retrieve_all_ma %}
                                            {% set mk = get_row_data('mapel_model', 'retrieve_kelas', [ma.mapel_kelas_id]) %}
                                            {% set k  = get_row_data('kelas_model', 'retrieve', [mk.kelas_id]) %}
                                            {% set m  = get_row_data('mapel_model', 'retrieve', [mk.mapel_id]) %}
                                            <tr>
                                                {{ (ma.aktif == 0) ? '<td class="error text-danger"><i class="fas fa-times"></i> Tidak Aktif</td>' : '<td class="info text-success"><i class="fas fa-check"></i> Aktif</td>' }}
                                                <td width="20%">{{ ma.jam_mulai|date('H:i') }} - {{ ma.jam_selesai|date('H:i') }}</td>
                                                <td>{{ m.nama }}</td>
                                                <td width="20%">{{ k.nama }}</td>
                                                <td width="15%">
                                                    {{ anchor('pengajar/edit_ampuan/' ~ status_id ~ '/' ~ pengajar.id ~ '/' ~ ma.id, '<i class="fas fa-edit"></i> Edit', {'title' : 'Edit Jadwal Ajar', 'class' : 'pengajar-iframe-6'})|raw }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
