{% extends "layout-private.html" %}

{% block title %}
Tambah Presensi Kehadiran Guru - {{ parent() }} 
{% endblock %}

{% block content %}

<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Tambah Presensi Kehadiran Guru</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{{ site_url('presensikehadiran?clear_filter=true') }}">List Presensi Kehadiran Guru</a></li>
            <li class="breadcrumb-item active">Tambah Presensi Kehadiran Guru</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>



<div class="d-flex justify-content-center">
    <div class="col-lg-8 p-3" id="popLihat">
    {{ get_flashdata('presensikehadiran')|raw }}
        {{ form_open_multipart('presensikehadiran/add', {'class' : 'form-horizontal row-fluid'})|raw }}
            <div class="card card-info">
                <div class="card-header" style="background-color: #0beef9;background-image: linear-gradient(315deg, #0beef9 0%, #48a9fe 74%);">
                    <h3 class="card-title">
                        Presensi Kehadiran Guru
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Tanggal Buat <span class="text-danger">*</span></label>
                            <div class="input-group date" id="tanggal_buat" data-target-input="nearest">
                                <input id="tanggal_saiki" type="text" name="tanggal_buat" value="{{ set_value('tanggal_buat') }}" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#tanggal_buat" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mengajar Kelas <span class="text-danger">*</span></label>
                            <div class="select2-blue">
                                <select name="mengajar_kelas[]" id="select2" multiple="multiple" class="form-control" data-placeholder="--Pilih--">
                                    {% set retrieve_all_child = get_row_data('kelas_model','retrieve_all_child') %}
                                    {% for rk in retrieve_all_child %}
                                        <option value="{{ rk.nama }}">{{ rk.nama }}</option>
                                    {% endfor %}
                                </select>
                                <code>{{ form_error('mengajar_kelas')|raw }}</code>
                            </div>
                        </div>
                        <!--
                        <div class="form-group">
                            <label for="Hadir/Tidak Hadir">Hadir/Tidak Hadir <span class="text-danger">*</span></label>
                            <select name="absensi_kehadiran" class="form-control">
                                <option value="">--pilih--</option>
                                <option value="0">Hadir</option>
                                <option value="1">Tidak Hadir</option>
                            </select>
                             <code>{{ form_error('absensi_kehadiran')|raw }}</code>
                        </div>
                        <div class="form-group">
                            <label>Lama Waktu Infal </label>
                            <div class="input-group">
                                <input name="lama_waktu_infal" type="text" class="form-control" style="background:white;">
                            </div>
                        </div>
                        -->
                        <div class="form-group">
                            <label>Jumlah Jam Infal </label>
                            <select name="lama_waktu_infal" class="form-control">
                                <option value="">--pilih--</option>
                                <option value="1">1 Jam</option>
                                <option value="2">2 Jam</option>
                                <option value="3">3 Jam</option>
                                <option value="4">4 Jam</option>
                                <option value="5">5 Jam</option>
                                <option value="6">6 Jam</option>
                                <option value="7">7 Jam</option>
                                <option value="8">8 Jam</option>
                                <option value="9">9 Jam</option>
                                <option value="10">10 Jam</option>
                                <option value="11">11 Jam</option>
                                <option value="12">12 Jam</option>
                            </select>
                             <code>{{ form_error('lama_waktu_infal')|raw }}</code>
                        </div>
                        <div class="form-group">
                            <label>Infal Kelas </label>
                            <div class="input-group">
                                <input type="text" name="infal_kelas" class="form-control"/>
                            </div>
                        </div>
                        <!--
                        <div class="form-group">
                            <label>Infal Kelas </label>
                            <div class="select2-blue">
                                <select name="infal_kelas[]" id="select3" multiple="multiple" class="form-control" data-placeholder="--Pilih--">
                                    {% set retrieve_all_child = get_row_data('kelas_model','retrieve_all_child') %}
                                    {% for rk in retrieve_all_child %}
                                        <option value="{{ rk.nama }}">{{ rk.nama }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        -->
                    </div>                 
                </div>
                <div class="card-footer">
                    <div class="btn-group">
                        <a href="{{ site_url('presensikehadiran') }}" class="btn btn-default" data-toggle="tooltip" title="Kembali"><i class="fas fa-redo mr-1"></i>Kembali</a>
                        <button type="submit" class="btn btn-info">Simpan</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
